.wrapper-main {
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
  border-radius: 30px;
  box-shadow: 5px 5px 10px #9798a0, -5px -5px 12px #ffffff;
  padding: 20px;
}