.nav-container {
    display: flex;
    gap: 10px;
}

.buttons-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-button {
    all: unset;
    display: inline-block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid silver;
    border-radius: 10px;
    cursor: pointer;
}