article {
  border-radius: 20px;
  width: 300px;
  height: 250px;
  padding: 0px 0px 0px 10px;
  margin: 40px;
  background-color: #eee;
  box-shadow: 5px 5px 10px #9798a0, -5px -5px 12px #ffffff;
}

.header-of-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-to-addProductForm {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 0;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  margin-right: 20px;
  font-weight: 600;
  background-color: rgba(110, 255, 197, 0.3);
  box-shadow: 5px 5px 10px #9798a0, -5px -5px 12px #ffffff;
}

.link-to-addProductForm:hover {
    box-shadow: inset 3px 3px 7px #97a09b, inset -3px -3px 9px #fff;
}

.link-to-addProductForm::after {
  content: "+";
  margin-left: 10px;
  font-size: 1.5em;
}

h1 {
  display: inline-block;
}

img {
  width: 150px;
  float: right;
}

.title {
  text-align: center;
}
